body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.text-with-cover {
    position: relative;
}
.text-with-cover .text-with-cover__text {
    font-size: 4rem;
}
.text-with-cover .text-with-cover__cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
